# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
lib/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.venv

# mkdocs documentation
/site

# PyCharm
.idea/

# Data
.DS_Store

# Logs
logs/
